/* Removes the highlight box around the navigation arrows. */

.react-multiple-carousel__arrow:focus,
.react-multiple-carousel__arrow:active{
outline: none;
}

.react-multiple-carousel {
    position: relative;
    z-index: -1;
}