.textPage {
    /* background-color: var(--background-light); */
    height: 100vh;
    width: 100vw;
}

.bg-white {
    background-color: var(--bg-reading-white);
}

.bg-offwhite {
    background-color: var(--background-light);
}

.bg-yellow {
    background-color: var(--bg-reading-yellow);
}

.bg-blue {
    background-color: var(--bg-reading-blue);
}