@import '../../styles/variables.css';

.BrowsingGrid__bg{
    background:  black;
}

h3 {
    color: var(--font-light);
    margin-left: 2rem;
}

.BrowsingGrid__hr{
    background: var(--bg-hr-background);
}

.browsingGrid {
    margin-top: 4rem;
}

.BrowsingGrid__categorytitle{
    
    font-size: 18px;
    padding: 8px;
   background: var(--bg-navbar-background);
   width: fit-content;
   padding-right: 20px;
}
.search__bar{
    display: flex;
    justify-content: center;
    margin-top: 70px;
    padding: 20px;
    
}
 .search__bar input{
    border-radius: 20px;
    min-width: 60vw ;
    line-height: 2;
    border-style: none;
    background-color: rgba(1, 8, 23, 0.9);
    color:white;
    outline-style: none;
    padding-left: 1rem;
    
 }
@media only screen and (max-width:420px) {
     .search__bar{
        margin-top: 70px;
        margin-bottom: 0px;
        border: none;
        padding: 0px;
        
     }
     .search__bar input{
         min-width: 80vw;
         border-style: none;
         border-radius: 8px;
         background-color: rgba(1, 8, 23, 0.9);
         color: white;
         outline-style: none;
     }

    
}