@import '../../styles/variables.css';

/* .browsing-grid-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
} */

h3 {
    color: var(--font-light);
    margin-left: 2rem;
}

.browsingGrid {
    margin-top: 4rem;
}