.textSettings {
    color: var(--font-dark);
    background: var(--background-light);
    position: absolute;
    top:10px;
    left: 90%;
    z-index: 20;
}

@media only screen and (max-width:1024px){
    .textSettings{
        left: 80%;
    }
}

@media only screen and (max-width:364px){
    .textSettings{
        left:70%; 
    }
}
