.footer__grid{
    background-color:#0df0f09c ;
    
}
 
 .footer__links{
     color:whitesmoke;
 }
 

@media only screen and (max-width:450px) {
   .footer__mob{
       display: none;
   }
    .footer__p{
        display: flex;
        justify-content: center;
        font-size: small;

    }
}