.textContentContainer {
    /* max-width: 1500px; */
    /* margin-left: auto;
    margin-right: auto; */
    height: 100vh;
    color: var(--font-dark);
    overflow-x: auto;
}

.text-grid {
    display: grid;
    grid-template-columns: fit-content;
    grid-template-rows: 100vh;
    align-items: center;
    overflow-x: auto;
}

.text-columns {
    height: 95vh;
    column-width: 300px;
    /*  width: fit-content; */
}

.text-view-grid {
    display: grid;
    grid-template-columns: auto 1px;
}

.choice-screen h3 {
    color: var(--main-orange);
    width: 100vw;
}


/* READING VIEW SETTINGS */

.text-size-small {
    font-size: 0.85rem;
}

.text-size-regular {
    font-size: 1rem;
}

.text-size-big {
    font-size: 1.2rem;
}

.font-serif {
    font-family: var(--font-serif);
}

.font-sans-serif {
    font-family: var(--font-sans-serif);
}

.margins-0 {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.margins-1 {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.margins-2 {
    margin-left: 3.5rem;
    margin-right: 3.5rem;
}

.margins-3 {
    margin-left: 5rem;
    margin-right: 5rem;
}

.spacing-0 {
    line-height: 1.2;
}

.spacing-1 {
    line-height: 1.5;
}

.spacing-2 {
    line-height: 2;
}

@media only screen and (max-width:400px) {
    .storyPage {
        max-width: 100vw;
        /* font-size: smaller; */
    }

    .margins-1 {
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .margins-2 {
        margin-left: 1.5rem;
        margin-right: 1.5rem;
    }

    .margins-3 {
        margin-left: 2rem;
        margin-right: 2rem;
    }
}