.textContentContainer {

    height: 100vh;
    color: var(--font-dark);
    overflow-x: auto;
}

.text-grid {
    display: grid;
    grid-template-columns: fit-content;
    grid-template-rows: 100vh;
    align-items: center;
    overflow-x: auto;
}

#text-start {
    width: 10px;
    background-color: transparent;
}

.text-columns {
    height: 95vh;
    column-width: 200px;
    /*  width: fit-content; */
    column-rule: 2px dotted rgb(0, 0, 0, 0.1);
}

.text-view-grid {
    display: grid;
    grid-template-columns: auto 0px;
}

.choice-screen {
    margin-left: 3rem;
    width: 100vw;
    height: 100vh;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
}

.choice-screen h3 {
    color: var(--font-dark);
    margin: 0 0 1rem 0;
    text-align: center;
    max-width: 75vw;
    font-weight: bold;
    letter-spacing: 2px;
}

.choice-screen a {
    margin-left: 1rem;
}

.choice-btn {
    max-width: 90%;
    margin: 1rem 0;
    letter-spacing: 1px;
}


/* READING VIEW SETTINGS */

.text-size-small {
    font-size: 0.85rem;
}

.text-size-regular {
    font-size: 1rem;
}

.text-size-big {
    font-size: 1.2rem;
}

.font-serif {
    font-family: var(--font-serif);
}

.font-sans-serif {
    font-family: var(--font-sans-serif);
}

.margins-0 {
    padding-left: 0.5rem;
    column-gap: 0.5rem;
    margin: 0;
}

.margins-1 {
    padding-left: 1.5rem;
    column-gap: 1.5rem;
    margin: 0;
}

.margins-2 {
    padding-left: 3.5rem;
    column-gap: 3.5rem;
    margin: 0;
}

.margins-3 {
    padding-left: 5rem;
    column-gap: 5rem;
    margin: 0;
}

.spacing-0 {
    line-height: 1.2;
}

.spacing-1 {
    line-height: 1.5;
}

.spacing-2 {
    line-height: 2;
}


@media only screen and (max-width:400px) {

    .margins-0 {
        padding: 0 0.5rem;
        column-gap: 2rem;
        margin: 0;
    }

    .margins-1 {
        padding: 0 1rem;
        column-gap: 3rem;
        margin: 0;
    }

    .margins-2 {
        padding: 0 2rem;
        column-gap: 4rem;
        margin: 0;
    }

    .margins-3 {
        padding: 0 3rem;
        column-gap: 6rem;
        margin: 0;
    }
}


/*Media rules to make the desktop version more demo friendly. Does not function correctly with longer texts.*/
@media only screen and (min-width:500px) {
    .text-columns {
    column-width: 500px;
    }
   }

@media only screen and (min-width:1000px){
    .textContentContainer {
        overflow-x: hidden;
    }
    

    .text-view-grid {
        display: grid;
        grid-template-columns: auto 0px;
        width: 50vw;
        padding-left: 2rem;
    }

    .text-columns {
            column-width: 45vw;
            
    }

    .choice-screen {
        width: 50vw;
        height: 100vh;
        padding: 5rem 2rem 2rem 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
       
    }
}