/* .textContainer { 
    background-color: red;
    height: 100%;
    display: flex;
    flex-direction: row;
    position: absolute;
    top:0;
    left:0;
    z-index: 1;
} */

.storyPage {
width: 50vw;
height: 90vh;
padding: 2rem 2rem;
background-color: var(--background-light);
font-family: var(--font-serif);
}

@media only screen and (max-width:364px){
    .storyPage {
        width: 100vw;
    }
}