@import '../../../styles/variables.css';

.carouselcard{
   max-height: 30vh;
}
.carausel__title{
     /* color:#cc8e35; */
     /* border: 1px solid red; */
     font-size: 15px;
     margin-top: 10px;
     padding: 8px;
    background: var(--bg-navbar-background);
    width: fit-content;
    padding-right: 20px;
}
.detailsPage__hr{
    background: var( --bg-hr-background);
}

@media only screen and (max-width:1024px) {
    .carouselcard{
        max-height: 25vh;
    }
    
}

@media only screen and (max-width:450px) {
    .carouselcard{
        max-width: 40vw;
    }
    .carausel__title{
        color:#cc8e35;
        font-size: 15px;
        margin-top: 10px;
        padding: 8px;
        background: var(--bg-navbar-background);
        width: fit-content;
        padding-right: 20px;
        
    }
    
}