@import '../../../styles/variables.css';

.body {
    letter-spacing: .02em;
    font-size: 1rem;
    font-weight: 200;
    line-height: 1.5;
    color: #212529;
    text-align: left;
}

.topSection__bg {
    /* background-color: #130f40; */
    background: var( --bg-navbar-background);
    padding: 20px;
}

.topSection__row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-top: 5rem;
    margin-bottom: 4rem;
    /*border: 1px solid red; */
}

.topSection__CardImg {
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
}

.topSection__CardImg img {
    max-height: 70vh;
 }

 .topSection__buttonLink{
     display: none;
 } 
 .topSection__button{
    background: rgb(2,0,36);
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,0.5942752100840336) 0%,
    rgba(9,9,10,1) 0%, rgba(0,47,82,1) 27%, rgba(6,58,96,1) 41%, rgba(0,54,94,1) 61%, rgba(1,31,52,1) 78%, rgba(0,0,0,1) 100%, rgba(9,53,82,1) 100%, rgba(9,75,121,1) 100%);
    border-radius: 15px;
    margin-right: 5px;
}

.media-body {
    padding: 2rem;
}

.topSection__p p {
    font-size: 14px;
    font-size: .875rem;
}
 
@media only screen and (max-width:1024px) {
    .topSection__CardImg img{
        max-height: 40vh;
        max-width: 50vw;

    }
    .media-body, .topSection__p{
        padding: 20px 0 0 20px;
        line-height:15px;
        
    }
    .topSection__row {
        margin-bottom: 2px;
    }
}

@media only screen and (max-width:450px) {
    .topSection__CardImg img{
        max-height: 40vh;
        min-width: 50vw;
    }
    .topSection__CardImg{
        margin: 0 auto;
    }
     .topSection__p{
        display: block;
        padding: 20px 0 0 
        0px;
        line-height:15px;
    }
    .topSection__row {
        margin-bottom: 2px;
    }

    .topSection__buttonLink{
        display: block;
        
    }
    .topSection__button{
        background: rgb(2,0,36);
        background: rgb(2,0,36);
        background: linear-gradient(90deg, rgba(2,0,36,0.5942752100840336) 0%,
         rgba(9,9,10,1) 0%, rgba(0,47,82,1) 27%, rgba(6,58,96,1) 41%, rgba(0,54,94,1) 61%, rgba(1,31,52,1) 78%, rgba(0,0,0,1) 100%, rgba(9,53,82,1) 100%, rgba(9,75,121,1) 100%);
        border-radius: 15px;
        margin-right: 5px;
    }
}