@import './variables.css';

/* Style customizations for reactstrap styles. */

body {
    background-color: var(--background-dark);
}

/* 
.react-multiple-carousel {
    position: relative;
    z-index: -1;
}

.card {
    position: relative;
    z-index: 1;
}

.overlay {
    position: fixed;
    z-index: 5;
} */

.getDetails{
    background-color: var(--main-orange);
    color: var(--font-dark);
    font-weight: 600;
    
}


.storyPage, .textSettingsContainer {
    color: var(--font-dark);
}

.linkToText {
    color: var(--font-light);
}