@import './variables.css';

/* Style customizations for reactstrap styles. */

body {
    background-color: var(--background-dark);
}



.card,
.card-title,
.card-subtitle,
.overlayText p {
    color: var(--font-light);
}

.popoverBtn {
    padding: 0;
    background-color: var(--background-dark);
    border: none;
}


.getDetailsBtn {
    background-color: var(--main-orange);
    color: var(--font-dark);
    font-weight: 600;

}

.storyPage,
.textSettingsContainer {
    color: var(--font-dark);
}

.choice-btn,
.choice-btn:active,
.choice-btn:hover {
    background-color: var(--main-orange);
    color: var(--font-dark);
}

.linkToText {
    color: var(--font-light);
}