@import './variables.css';

/* Style customizations for reactstrap styles. */

body {
    background-color: var(--background-dark);
}


.jumbotron {
    background: var(--background-dark);
}

.card {
    background-color: var(--main-primary);
}

.storyPage, .textSettingsContainer {
    color: var(--font-dark);
}

.linkToText {
    color: var(--font-light);
}