/* Variables for colors and other recurring styles used across the app, 
imported into individual stylesheets */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

:root {
    --main-primary: #CA86FF;
    --main-secondary: #4ADD58;
    --neon-primary: #BB64FF;
    --neon-secondary: #3DFF50;
    --dark-primary: #A02FF8 ;
    --dark-secondary:#04DB19;
    --background-dark: black;
    --background-light: #F9F9F9;
    --font-light: white;
    --font-dark: black;
    --font-sans-serif: 'Open Sans', sans-serif;
    --font-serif: 'Lora', serif;

}