/* Variables for colors and other recurring styles used across the app, 
imported into individual stylesheets */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

:root {
    --main-primary: #CA86FF;
    --main-secondary: #4ADD58;
    --neon-primary: #BB64FF;
    --neon-secondary: #3DFF50;
    --dark-primary: #A02FF8;
    --dark-secondary: #04DB19;
    --background-dark: black;
    --background-light: #F9F9F9;
    /* background colors for text pages */
    --bg-reading-white: white;
    --bg-reading-yellow: #FDFFE2;
    --bg-reading-blue: #F5FEFF;
    --font-light: white;
    --font-dark: black;
    --font-sans-serif: 'Open Sans', sans-serif;
    --font-serif: 'Lora', serif;
    --main-orange: #CC8E35;
    /* background colors for Navbar */
    --bg-navbar:  rgb(2,0,36);
    --bg-navbar-background: linear-gradient(90deg, rgba(2,0,36,0.5942752100840336) 0%, rgba(9,9,10,1) 0%, rgba(0,47,82,1) 27%,
     rgba(6,58,96,1) 41%, rgba(0,54,94,1) 61%, rgba(1,31,52,1) 78%, rgba(0,0,0,1) 100%, rgba(9,53,82,1) 100%, rgba(9,75,121,1) 100%);

}