@import '../../../styles/variables.css';

/* Styling for individual story cards/covers. Card background color
set in custom.css */
/* 
.card {
    margin: 1rem;
    padding: 0.5rem;
    width: 20vw;
    height:20vw;
    font-size: small;
    position: relative;
    z-index: 1;
    
} */

.card img {
    width: 100%;
    object-fit: contain;
  
   
}

.popover-body {
    background-color: var(--background-dark);
    padding: 2rem;
    width: 40vw;
    display: flex;
}

.overlayImg {
    max-width: 20vw;
    max-height:30vw;
    margin: 1rem;
}

.overlayText{
    background-color: var(--background-dark); 
}

.card-title, .card-subtitle, .overlayText p {
    margin: 1rem; 
}

@media only screen and (max-width:1024px) {
    .card {
        max-width: 30vw;    
    }

    .overlayContent {
        display:block; 
        font-size: smaller;
        max-width: 35vw;
        max-height: 40vh;
    }

    .overlayImg {
        display: none;
        max-width: 80vw;
        max-height:15vw;
        margin: 1rem;
    }
}
 
@media only screen and (max-width:450px) {
    .card {
        max-width: 50vw;
        max-height: 55vw;
    }

    .overlayContent {
        /* background-color: white; */
        display:block; 
        font-size: smaller;
       max-height: 60vh;
       min-width: 60vw;
    }

    .overlayText{
        /* background-color: red; */
      max-height: 55vh;
    }
     .overlayImg {
         display: none;
        max-width: 50vw;
        max-height:10vh;
        margin: 0.5rem;
    }  
  
    .card-title, .card-subtitle, .overlayText p {
        margin: 0.5rem; 
        max-height: 7rem;
       
    }
     .card-title{
         font-size: 1rem !important;
     }

     .popupcard__button{
        background: rgb(2,0,36);
        background: rgb(2,0,36);
        background: linear-gradient(90deg, rgba(2,0,36,0.5942752100840336) 0%,
         rgba(9,9,10,1) 0%, rgba(0,47,82,1) 27%, rgba(6,58,96,1) 41%, rgba(0,54,94,1) 61%, rgba(1,31,52,1) 78%, rgba(0,0,0,1) 100%, rgba(9,53,82,1) 100%, rgba(9,75,121,1) 100%);
        border-radius: 15px;
        margin-right: 5px;
     }
    
}